.home {
	.splash-mujer, .splash-nenas, .splash-teens {
		display:block;
		margin: 0 auto;
		text-align: center;
		img {
			margin: 0 auto;
			text-align: center;
		}

		&:hover {
			@include opacity(0.8);
		}
		
	}
	.splash-mujer, .splash-nenas {
		width: 220px;
	}
	.splash-teens {
		width: 470px;
	}

	a.home-buttons {
		display: block;
	    height: 106px;
	    margin: 10px auto 0;
	    width: 200px;
		background: transparent url('../images/home-buttons.jpg') no-repeat center center scroll;
		text-indent:-9999px;

		&.mujer {
			background-position: 0px 0px;
		}
		&.nenas {
			background-position: -246px 0px;			
		}
		&.teens {
			background: transparent url('../images/teen-button.png') no-repeat center center scroll;
			background-position: 0px -18px;			
		}

		&:hover {
			@include opacity(0.8);
		}
	}

	a {
		@include transition-property(all);
  		@include transition-duration(1s);
  		@include transition-timing-function(ease-in);
	}
}

#featured { background: #F4F4F4 url('../images/loading.gif') no-repeat center center scroll; height: 500px; margin:30px auto 50px;}
#featured img { display: none; }
#featured.orbit { background: none; }
#featured.orbit img { display: block; }

.orbit {
	margin-bottom:50px;
}

.orbit-wrapper {
	margin:30px auto 50px;
}

.orbit-wrapper .slider-nav span {
	width: 31px;
	height: 31px;	
	bottom: -40px;
	top: auto;
}

.orbit-wrapper .slider-nav span.right {
	background: transparent url(../images/arrows.jpg) no-repeat -64px -3px;
	right:45%;
}
.orbit-wrapper .slider-nav span.left {
	background: transparent url(../images/arrows.jpg) no-repeat -14px -3px;
	left:45%;
}