.locales-content {
	margin: 40px auto;

	#map {
		width:660px;
		height:300px;
		img { max-width: none; }
		*, *:before, *:after {
		    @include box-sizing(content-box);
		}
	}

	@media screen and (max-width: 767px) {
		#map {
			width:100%;
			height:300px;
		}
	}

	.address {
		color:#000;
		font-family: "FuturaStdBook", sans-serif;
		h2 {
			letter-spacing: -1px;
			font-size: ms(2);
			color:#000;
			text-transform: uppercase;
			margin:0px 0px 10px;
		}
		p {
			font-size: ms(0);
			margin:0px 0px 5px;
			em {
				font-style: italic;
			}
			&.phone {
				margin:10px 0px 20px;
			}
		}
	}
}